.body {
	min-width: 1210px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.content {
	width: 1170px;
	height: 100%;
	margin:0 auto;
	position: relative;
	
	
	}



.header {
	background-color: #fbfbfb;
	height: 770px;
	overflow: hidden;
	

}
	.navigation {
		padding-top: 50px;
		
		display: inline-block;
	}

		.disable {
			text-decoration: none;
			color: black;
			margin-right: 30px;
			margin-top: 50px;
		}
		.selected {
			text-decoration: none;
			margin-top: 50px;
			margin-right: 30px;
			color: #fc557c;
			border-bottom:1px solid #fc557c;
		}

	.ordered-call {
		float: right;
		display: inline-block;
		margin-top: 40px;
		border:1px solid #f82370;
		padding: 10px 30px;
		outline-color: pink;
		color: #fc557c;
		background-color: #fbfbfb;
	}

	.number {
		float: right;
		display:inline-block;
		margin: 43px 30px;
		font-weight:bold;
		font-size: 25px;
	}

	.h1 {
		font-size: 80px;
		margin-top: 230px;
		margin-bottom: 0px;
		width: 700px;
		display: inline-block;
	}

	.h3 {
		color: #8993ad;
		margin-bottom: 50px;
		width: 700px;
		display: inline-block;
	}
	.button-header {
		width: 270px;
		height: 60px;
		background-color: #ff4e2e;
		color: white;
		border:none;
		outline: orange;
		font-size: 18px;
		margin-bottom: 100px;
		display: inline-block;
		margin-right: 300px;
		}
	.ellipse {
		position: absolute;
		display: inline-block;
		right: -400px;
		height: 630px;
		top:300px;
	}
	.photo {
		position: absolute;
		bottom: 0;
		height: 630px;
		right: -160px;
	}

.h2{
	font-size: 54px;
	font-weight: bold;
	text-align: center;
	padding-top: 90px;
	margin-top: 0;
}

.main {
	height: 1870px;
}

	.section-doing {
		height: 700px;
		background-color: white;
		position: relative;
		}

		.flex-container {
			display: flex;
			height: 200px;
			width: 100%;
			justify-content: space-between;
			margin-top: 100px;
			}

			.flex-items {
				position: relative;
				width: 300px;
				height: 170px;
				}

				.item-image {
					display: block;
					margin: 0 auto;
					width: 80px;
					height: 76px;
					}

				.item-text {
					text-align: center;
					font-size: 20px;
					color:#8993ad;
					}		

		.button {
			width: 270px;
			height: 60px;
			background-color: #ff4e2e;
			color: white;
			border:none;
			display: inline-block;
			outline: orange;
			font-size: 18px;
			margin: 70px auto;
			position: relative;
			display: block;
			}
	.works {
		background-color: #fbfbfb;
		height: 860px;
	}
	.work-1 {
		height: 400px;
	}
	.work-2 {
		height: 400px;
	}
	.work-3 {
		height: 400px;
	}

	.work-image-1 {
		margin-left: 30px;
		margin-right: 30px;
		width: 350px;
		height: 290px;
		background-image: url(img/work-1.jpg);
		background-position: center;
	}
	.work-image-2 {
		margin-left: 30px;
		margin-right: 30px
		width: 350px;
		height: 290px;
		background-image: url(img/work-2.jpg);
		background-position: center;
	}
	.work-image-3 {
		margin-left: 30px;
		margin-right: 30px;
		width: 350px;
		height: 290px;
		background-image: url(img/work-3.jpg);
		background-position: center;
	}
    .slider {
      position: relative;
      padding-right: 30px;
      overflow: hidden;
          }

	    .slider__wrapper {
	      display: flex;
	      transition: transform 0.6s ease;
	    }

	    .slider__item {
	      flex: 0 0 33.3333%;
	      max-width: 33.3333%;
	    }

	    .slider__control {
	      position: absolute;
	      top: 35%;
	      display: flex;
	      align-items: center;
	      justify-content: center;
	      overflow: visible;
	      color: #fff;
	      text-align: center;
	      opacity: 0.5;
	      height: 50px;
	      transform: translateY(-50%);
	    }

	    .slider__control:hover,
	    .slider__control:focus {
	      color: #fff;
	      text-decoration: none;
	      outline: 0;
	      opacity: .9;
	    }

	    .slider__control_left {
	      left: 0px;
	    }

	    .slider__control_right {
	      right: 0px;
	    }

	    .slider__control::before {
	      content: '';
	      display: inline-block;
	      width: 60px;
	      height: 60px;
	      background: transparent no-repeat center center;
	    }

	    .slider__control_left::before {
	      background-image: url("img/arrow.png");
	    }

	    .slider__control_right::before {
	      background-image: url("img/arrow.png");
	      transform: rotate(180deg);
	    }

	    .h4 {
	    	font-size: 20px;
	    	color:#8993ad;
	    	text-align: center;
	    	padding-left: 30px;
		    }	