.body {
	width: 100%; 
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.content {
	max-width: 1170px;
	height: 100%;
	margin:0 auto;
	padding: 0 40px;
	position: relative;
	
	
	}



.header {
	background-color: #fbfbfb;
	height: 770px;
	overflow: hidden;

}
	.navigation {
		padding-top: 50px;
		
		display: inline-block;
	}

		.disable {
			text-decoration: none;
			color: black;
			margin-right: 30px;
			margin-top: 50px;
		}
		.selected {
			text-decoration: none;
			margin-top: 50px;
			margin-right: 30px;
			color: #fc557c;
			border-bottom:1px solid #fc557c;
		}

	.ordered-call {
		float: right;
		display: inline-block;
		margin-top: 40px;
		border:1px solid #f82370;
		padding: 10px 30px;
		outline-color: pink;
		color: #fc557c;
		background-color: #fbfbfb;
	}

	.number {
		float: right;
		display:inline-block;
		margin: 43px 30px;
		font-weight:bold;
		font-size: 25px;
	}
	.menu {
		display: none;
	}
	.h1 {
		font-size: 80px;
		margin-top: 230px;
		margin-bottom: 0px;
		width: 700px;
		display: inline-block;
	}

	.h3 {
		color: #8993ad;
		margin-bottom: 50px;
		width: 700px;
		display: inline-block;
		font-weight: 400;
	}

		.fly-header-tag1 {
			color:#f6355b ;
			position: absolute;
			top: 100px;
			display:inline;
			font-size: 30px;
			left:  -250px;
			transform: rotate(30deg);
			font-weight: bold;
			}
		.fly-header-tag2 {
			color:#f6355b ;
			display:inline;
			position: absolute;
			bottom: 50px;
			font-size: 30px;
			left:  50px;
			transform: rotate(-30deg);
			font-weight: bold;
			}
		.fly-header-tag3 {
			color:#f6355b ;
			display:inline;
			position: absolute;
			top: 400px;
			font-size: 34px;
			display:inline;
			left:  -150px;
			transform: rotate(15deg);
			font-weight: bold;
			display:inline;
			}
		.fly-header-tag4 {
			color:#f6355b ;
			position: absolute;
			display:inline;
			top: 200px;
			font-size: 30px;
			left:  450px;
			transform: rotate(-20deg);
			font-weight: bold;
			}
		.fly-header-tag5 {
			color:#f6355b ;
			display:inline;
			position: absolute;
			bottom:  100px;
			font-size: 40px;
			left:  560px;
			transform: rotate(30deg);
			font-weight: bold;
			}
	.button-header {
		width: 270px;
		height: 60px;
		background-color: #ff4e2e;
		color: white;
		border:none;
		outline: orange;
		font-size: 18px;
		margin-bottom: 100px;
		display: block;
		margin-right: 300px;
		}

	.ellipse {
		position: absolute;
		display: inline-block;
		right: -400px;
		height: 630px;
		top:300px;
	}
	.photo {
		position: absolute;
		bottom: 0;
		height: 630px;
		right: -160px;
	}


.h2{
	font-size: 54px;
	font-weight: bold;
	text-align: center;
	padding-top: 90px;
	margin-top: 0;
}

.main {

}

	.section-doing {
		height: 700px;
		background-color: white;
		position: relative;
		}

		.flex-container {
			display: flex;
			height: 200px;
			width: 100%;
			justify-content: space-between;
			margin-top: 100px;
			}

			.flex-items {
				position: relative;
				width: 300px;
				height: 170px;
				}

				.item-image {
					display: block;
					margin: 0 auto;
					width: 80px;
					height: 76px;
					}

				.item-text {
					text-align: center;
					font-size: 20px;
					color:#8993ad;
					}		

		.button {
			width: 270px;
			height: 60px;
			background-color: #ff4e2e;
			color: white;
			border:none;
			display: inline-block;
			outline: orange;
			font-size: 18px;
			margin: 70px auto;
			position: relative;
			display: block;
			}
	.works {
		background-color: #fbfbfb;
		height: 860px;
	}
	.work-1 {
		height: 400px;
	}
	.work-2 {
		height: 400px;
	}
	.work-3 {
		height: 400px;
	}

	.work-image-1 {
		margin-left: 30px;
		margin-right: 30px;
		width: 350px;
		height: 290px;
		background-image: url(img/work-1.jpg);
		background-position: center;
	}
	.work-image-2 {
		margin-left: 30px;
		margin-right: 30px
		width: 350px;
		height: 290px;
		background-image: url(img/work-2.jpg);
		background-position: center;
	}
	.work-image-3 {
		margin-left: 30px;
		margin-right: 30px;
		width: 350px;
		height: 290px;
		background-image: url(img/work-3.jpg);
		background-position: center;
	}
    .slider {
      position: relative;
      padding-right: 30px;
      overflow: hidden;
          }

	    .slider__wrapper {
	      display: flex;
	      transition: transform 0.6s ease;
	    }

	    .slider__item {
	      flex: 0 0 33.3333%;
	      max-width: 33.3333%;
	    }

	    .slider__control {
	      position: absolute;
	      top: 35%;
	      display: flex;
	      align-items: center;
	      justify-content: center;
	      overflow: visible;
	      color: #fff;
	      text-align: center;
	      opacity: 0.5;
	      height: 50px;
	      transform: translateY(-50%);
	    }

	    .slider__control:hover,
	    .slider__control:focus {
	      color: #fff;
	      text-decoration: none;
	      outline: 0;
	      opacity: .9;
	    }

	    .slider__control_left {
	      left: 0px;
	    }

	    .slider__control_right {
	      right: 0px;
	    }

	    .slider__control::before {
	      content: '';
	      display: inline-block;
	      width: 60px;
	      height: 60px;
	      background: transparent no-repeat center center;
	    }

	    .slider__control_left::before {
	      background-image: url("img/arrow.png");
	    }

	    .slider__control_right::before {
	      background-image: url("img/arrow.png");
	      transform: rotate(180deg);
	    }

	    .h4 {
	    	font-size: 20px;
	    	color:#8993ad;
	    	text-align: center;
	    	padding-left: 30px;
		    }

	.price {
		position: relative;
		overflow-x: hidden;
		height: 370px;
		background: linear-gradient(200deg,#ff2f96,#ff8f5a)
		}

		.price-text {
			padding: 70px 100px 30px 100px;
			font-size: 45px;
			font-weight: bold;
			color: white;
			
		}

		.price-litle-text {
			font-size: 18px;
			color: white;
			padding: 0px 100px 40px 100px;
		}
		.fly-tag1 {
			color: white;
			position: absolute;
			top: 50px;
			font-weight: bold;
			font-size: 30px;
			left: -200px;
			transform: rotate(30deg);
		}
		.fly-tag2 {
			color: white;
			position: absolute;
			top: 80px;
			font-weight: bold;
			font-size: 30px;
			right: -200px;
			transform: rotate(-30deg);
		}
		.fly-tag3 {
			color: white;
			position: absolute;
			bottom: 50px;
			font-size: 32px;
			left: -100px;
			font-weight: bold;
			transform: rotate(20deg);
		}
		.fly-tag4 {
			color: white;
			position: absolute;
			bottom: 50px;
			font-size: 30px;
			right: 100px;
			font-weight: bold;
			transform: rotate(30deg);
		}
		.fly-tag5 {
			color: white;
			position: absolute;
			bottom: 100px;
			font-size: 30px;
			right:  -250px;
			font-weight: bold;
			transform: rotate(-30deg);
		}

.footer {
height: 340px;
}
	
	.footer-big {
		background-color: white;
		height: 260px;
		position: relative;
	}

		.footer-nav {
			padding-top:75px;
			height: 120px;
			width: 110px;
		}

			.nav-item {
				font-size: 18px;
				text-decoration: none;
				color:#8993ad;
				margin-top: 13px;
				display: block;
			}

		.contact-block {
			height: 100px;
			width: 370px;
			position: absolute;
			left: 35%;
			top: 40px;
			margin: 0;
			font-size: 25px;

		}

			.contact-icon {
				font-family: 'icon', sans-serif;;
				width: 35px;
				position: relative;
				left: -5px;
				padding-left: 8px;
				height: 35px;
				display: inline-block;
				color: #f6355b;
				line-height: 30px;
				font-size: 23px;
				transform: rotate(90deg);
			}
			.contact-icon2 {
				font-family: 'icon', sans-serif;;
				width: 35px;
				position: relative;
				color: #f6355b;
				top: 5px;
				padding-left: 8px;
				height: 35px;
				display: inline-block;
				line-height: 30px;
				font-size: 25px;
				
			}
			.contact-text {
				width: 255px;
				display: inline-block;
				padding-top: 40px;
				margin-left: 20px;
			}


		.social-block {
			position: absolute;
			top: 80px;
			right:  0;
			width: 270px;
			height:120px;
				
			}
				.ordered-call-number2 {
					margin: 0 100px 0 0;
					float: left;
					position: relative;

				}
				.social-icon1 {
					display: inline-block;
					background-image: url(img/sprait.png);
					background-repeat: no-repeat;
					background-position: -275px -250px;
					margin-top: 50px;
					margin-right: 20px;
					width: 50px;
					height:50px;
				}
				.social-icon2 {
					display: inline-block;
					background-image: url(img/sprait.png);
					background-repeat: no-repeat;
					background-position: -145px -180px;
					margin-top: 50px;
					margin-right: 20px;
					width: 50px;
					height:50px;
				}
				.social-icon3 {
					display: inline-block;
					background-image: url(img/sprait.png);
					background-repeat: no-repeat;
					background-position: -80px -180px;
					margin-top: 50px;
					margin-right: 20px;
					width: 50px;
					height:50px;
				}	




	.footer-small {
		background-color: #31293c;
		height: 50px;
		text-align: center;
		color: white;
		padding-top: 30px;
	}












@font-face {
font-family: "icon"; 
src: url("fonts/dripicons-v2.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@media (max-width: 1160px) {

	.h1 {
		margin-top: 180px;
	}

}

@media (max-width: 1024px) {	
	.flex-container {
		height: 500px;
		
		flex-wrap: wrap;
	}
	.section-doing {
		height: 1000px;
		
	}
	.flex-items {
		width: 310px;
		justify-content:space-around;
		}
	.navigation {
		display: none;
	}
	.h1 {
		margin-top: 190px;
	}
	.menu {
		display: inline-block;
		margin-top:  40px;
		background-repeat: no-repeat;
		background-image: url(img/icon-menu.jpg);
		outline: none;
		border:none;
		padding: 16px 22px;
	}
	.price-text {
		padding: 40px 0;
	}
	.price-litle-text {
		padding: 0;
	}
}
